{% extends 'base.html' %}
{% block content %}
<h2> Add some tasks</h2>
<form action="/addTodo/" method = "post"> {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Todo Item">
</form>
<ul>
    {% for item in undone %}
    <li>{{ item.content }}
    <form action="/donetodo/{{item.id}}/" method = "post">{% csrf_token %}
            <button type="submit" class="btn btn-success">Done!</button>
    </form> 
    </li>
    {% endfor %}
</ul>
<h2>Done Today!</h2>
<ul>
    {% for item in done %}
    <li>{{ item.content }}</li>
    {% endfor %}
</ul>
{% endblock content %}